.body {
    background-image: url('../images/home-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    }
  .landing_header {
    display: flex;
    flex-direction: column ;
    align-items: center;
    padding-top: 10%;
    color: #ffffff;
  }
  .home_button {
    margin-top: 3%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .landing_header h1 {
    font-size: 7rem;
  }
  .landing_header p {
    width: 50vw;
    text-align: center;
  }